@keyframes moveUp {
  from { transform: translateY(-200%); }
  to   { transform: translateY(0);     }
}

@keyframes users-anim {
  from { transform: translateX(100%); }
  to   { transform: translateX(10px); }
}

.account-dash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.account-list {
  width: 450px;
  height: 500px;
  min-height: 50%;
  padding: 15px 0;
  animation: users-anim 0.5s;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1), 0 10px 18px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  overflow: scroll;
}

.users-list {
  width: 450px;
  height: 500px;
  /*min-height: 50%;*/
  padding: 15px 0;
  animation: users-anim 0.5s;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1), 0 10px 18px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  overflow: scroll;
}

.stepper-wrapper {
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
  transition: all 0.2s;
}

.stepper-active {
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
  transition: all 0.2s;
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #54b3a7;
  background-color: #FFF;
  color: #54b3a7;
}

.stepper-active .stepper {
  background-color: #54b3a7;
  color: #FFF;
}

.stepper-number {
  font-weight: normal;
}

.stepper-title {
  margin-left: 10px;
  color: #494949;
}

.stepper-active .stepper-title {
  color: #DBDBDB;
}

.accountability-tables {
  display: flex;
  justify-content: space-between;
}

.accountability-tables-active {
  display: flex;
  justify-content: space-between;
}

.stepper-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  margin-left: 25px;
  background-color: #DBDBDB;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 22px;
  font-weight: lighter;
}

.stepper-active .stepper-confirm {
  background-color: #54b3a7;
}

.stepper-active .stepper-confirm:hover {
  background-color: #90ded4;
}

.stepper-confirm:focus {
  outline: none;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  z-index: 1000;
}

.activity-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  transform: translateX(-100%);
  transition: all 0.5s;
}

.accountability-tables-active .activity-wrapper {
  transform: translateX(10px);
}
