.accountability-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 60px;
  margin: 10px auto;
  padding: 35px 0;
  border-bottom: 1px solid #DBDBDB;
}

.accountability-info-separator {
  display: flex;
  align-items: center;
  width: 80%;
}

.accountability-description {
  font-size: 20px;
  font-weight: lighter;
  margin-left: 10px;
}

.accountability-date {
  font-weight: lighter;
  text-align: right;
}

.accountability-type {
  width: 45px;
  height: 45px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  border-radius: 50%;
}

.accountability-buddy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.cell-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountability-cell:hover {
  background-color: #DBDBDB;
}

.accountability-cell-active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 60px;
  margin: 10px auto;
  padding: 35px 0;
  background-color: #C5CAE9;
  border-bottom: 1px solid #DBDBDB;
}
