@keyframes clicked-completed {
  0% {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    transform: scale(1);
  }
  75% {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    transform: scale(1.3);
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    transform: scale(1);
  }
}

@keyframes clicked {
  0% {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    transform: scale(1);
  }
  75% {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    transform: scale(1.3);
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    transform: scale(1);
  }
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 25%;
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

.info-separator {
  display: flex;
  align-items: center;
  width: 80%;
  /*background-color: red;*/
}

.description {
  font-size: 25px;
  font-weight: lighter;
  /*background-color: blue;*/
}

.item-canceled .description {
  color: #DBDBDB;
  text-decoration: line-through;
}

.activity-type {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  border-radius: 50%;
  opacity: 0.8;
}

.cell-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.4;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  animation: clicked 0.2s;
}

.activity-btn:hover {
  opacity: 0.6;
}

.clicked {
  animation: clicked 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: lighter;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  opacity: 1;
  animation: clicked-completed 0.2s;
}
