.activities-wrapper {
  width: 50%;
  max-width: 580px;
  height: 530px;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1), 0 10px 18px rgba(0, 0, 0, 0.1);
}

.activities-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  animation: moveUp 0.7s;
  z-index: 0;
}
