@keyframes calendar-anim {
  from { transform: translateX(100%); }
  to   { transform: translateX(10px); }
}

.add-activity-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  padding-left: 100px;
}

.left-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calendar-wrapper {
  z-index: 0;
  width: 80%;
  height: 90%;
  /*padding-right: 10px;*/
  padding: 30px;
  animation: calendar-anim 0.5s;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.2), 0 10px 18px rgba(0, 0, 0, 0.2);
  transform: translateX(10px);
}

.add-activity-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 500px;
}

.add-activity-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.2), 0 10px 18px rgba(0, 0, 0, 0.2);
  background-color: #3F51B5;
  z-index: 1000;
}

.add-form-header {
  padding: 20px 0 0;
  color: #FFF;
  text-align: center;
}

.add-form-date {
  font-weight: lighter;
  font-size: 100px;
}

.add-form-day {
  margin: -20px 0 0;
  font-size: 40px;
  font-weight: lighter;
}

.activity-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.add-form-input {
  margin: 10px 0 10px 80px;
  padding: 5px;
  background-color: transparent;
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
}

.add-form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.add-form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.add-form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.add-form-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.add-form-input:focus {
  outline: none;
  border-bottom: 1px solid #FFF;
}

.add-input-cell {
  display: flex;
  align-items: center;
  width: 100%;
}

.add-btn-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 80%;
  height: 40px;
  margin: 20px auto 0;
}
