@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes logOutAppear {
  from { transform: translateX(200%); }
  to   { transform: translateX(0); }
}

.App {
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.logout {
  margin: 10px 50px;
  /*animation: logOutAppear 0.2s;*/
}
