.dashboard-calendar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  padding: 0 20px;
  /*background-color: yellow;*/
  background-color: #FFF;
  z-index: 1000;
  transition: all 0.5s;
}

.dash-days-list {
  display: flex;
  width: 80%;
  height: 100%;
  /*background-color: red;*/
}
