@keyframes bannerDisapear {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.dashboard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  padding: 70px 0 20px 100px;
  /*background-color: red;*/
}

.charts-wrapper {
  width: 500px;
  height: 550px;
  max-height: 600px;
  padding: 10px 0 0;
  /*background-color: blue;*/
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1), 0 10px 18px rgba(0, 0, 0, 0.1);
}

.activities-wrapper {
  width: 50%;
  height: 550px;
  max-height: 600px;
  padding: 0 0 10px;
  overflow: hidden;
  /*background-color: green;*/
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1), 0 10px 18px rgba(0, 0, 0, 0.1);
}

.dashboard-calendar {
  position: relative;
  width: 100%;
  height: 20%;
  background-color: yellow;
  z-index: 1000;
}

@keyframes moveUp {
  from { transform: translateY(-200%); }
  to   { transform: translateY(0);     }
}

.activities-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  animation: moveUp 0.7s;
  z-index: 0;
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  /*background-color: magenta;*/
}

.points-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  /*background-color: red;*/
}

.weekly-progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60%;
  /*background-color: green;*/
}

.weekly-title {
  width: 65%;
  padding: 40px;
  font-size: 32px;
  font-weight: lighter;
}

.totals {
  display: flex;
  justify-content: center;
  height: 30%;
  padding: 0 15px;
  margin: 0 0 10px;
}

.totals-cell {

  width: 33%;
  height: 100%;
  border: 1px solid #BDBDBD;
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
  text-align: center;
}


.totals-cell-title {
  margin: 5px 0;
  color: #757575;
  font-size: 20px;
  font-weight: lighter;
}

.totals-cell-value {
  margin: 5px 0;
  color: #757575;
  font-size: 30px;
  font-weight: normal;
}

svg {
  font-size: 10px;
}

.CircularProgressbar {
  width: 25%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 30px;
  font-weight: lighter;
  dominant-baseline: middle;
  text-anchor: middle;
}
