@keyframes login-appear {
  from { transform: scaleY(0); }
  to   { transform: scaleY(1); }
}

.login-form {
  display: grid;
  grid-template-rows: 80px 1fr 40px;
  width: 85%;
  max-width: 500px;
  padding: 20px;
  animation: login-appear 0.2s;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.2), 0 10px 18px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.signup-form .login-submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
