.user-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 60px;
  margin: 10px auto;
  padding: 35px 0;
  border-bottom: 1px solid #DBDBDB;
}

.user-cell-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user-cell-name {
  font-size: 20px;
  font-weight: lighter;
  margin-left: 10px;
}

.user-cell:hover {
  background-color: #DBDBDB;
}

.user-cell-active {
  background-color: #C5CAE9;
}
